<!DOCTYPE html>
<html>

<head>
  <title>Random Joke</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <link rel="stylesheet" type="text/css" href="styles/animated-background.css">
</head>

<body>
  <h1>Random Joke</h1>
  <div class="setup">
    <p>
      <%= setup %>
    </p>
  </div>
  <p class="delivery">
    <%= delivery %>
  </p>
</body>

</html>